.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.MapContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map {
  position: relative;
}

#refreshButton {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 90px);
  z-index: 400;
  border-radius: 10%;
  background-color: hotpink;
  font-size: large;
}

#addButton {
  position: absolute;
  bottom: 20px;
  left: calc(40%);
  z-index: 400;
  border-radius: 25%;
  background-color: hotpink;
  font-size: large;
}

#infoButton {
  position: absolute;
  bottom: 20px;
  left: calc(55%);
  transform: translateX(-50%);
  z-index: 400;
  border-radius: 25%;
  background-color: hotpink;
  font-size: large;
}

.dialog {
  max-width: 40rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  position: relative;
}

.dialog::backdrop-filter {
  background: hsl(0 0% 0% / 50%);
}

.dialog-close-btn {
  position: absolute;
  top: .25em;
  right: .25em;
  font-size: xx-large;
  padding-top: 5px;
  padding-right: 10px;
}

/* #modalText {
  padding-top: 15px;
  padding-right: 15px;
} */


/* #closeModal {
  font-size: xx-large;
  padding-top: 5px;
  padding-right: 10px;
} */